<!-- templates/login.html -->

{% extends 'base.html' %}

{% block content %}

    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third"><p></p></div>
        <div class="w3-third">
            <form class="w3-container w3-card-4" action="../check/" method="POST">{% csrf_token %}
                <h2>Verify certificate</h2>
                <div class="w3-section">
                    <input class="w3-input w3-center" type="text" name="uniqueid" required="" minlength="12" maxlength="12">
                    <label>Enter 12 digit unique certificate number</label>
                </div>
                <!--<div class="w3-section">
                    <input class="w3-input" type="text" required="">
                    <label>Email</label>
                </div>
                <div class="w3-section">
                    <input class="w3-input" type="text" required="">
                    <label>Subject</label>
                </div>

                <div class="w3-row">
                    <div class="w3-half">
                        <input id="milk" class="w3-check" type="checkbox" checked="checked">
                        <label>Milk</label>
                        <br>
                        <input id="sugar" class="w3-check" type="checkbox">
                        <label>Sugar</label>
                        <br>
                        <input id="lemon" class="w3-check" type="checkbox" disabled="">
                        <label>Lemon (Disabled)</label>
                        <br><br>
                    </div>

                    <div class="w3-half">
                        <input id="male" class="w3-radio" type="radio" name="gender" value="male" checked="">
                        <label>Male</label>
                        <br>
                        <input id="female" class="w3-radio" type="radio" name="gender" value="female">
                        <label>Female</label>
                        <br>
                        <input id="unknown" class="w3-radio" type="radio" name="gender" value="" disabled="">
                        <label> Don't know (Disabled)</label>
                    </div>

                </div>
                -->
                <button class="w3-btn w3-xlarge w3-theme-dark w3-hover-blue">
                    <input type="submit" value="Submit">
                </button>
            </form>
        </div>
    </div>
{% endblock %}