<!-- templates/login.html -->

{% extends 'base.html' %}
{% block title %} <h1>Institute Login</h1> {% endblock %}
{% block content %}
    <div class="w3-container">
        <div class="w3-padding-32 w3-center">
            <form class="w3-container w3-card-4" action="/institutelogincheck/" method="post">


                <div class="w3-section">

                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required><br>
                </div>
                <div class="w3-section">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required><br>
                </div>
                <div class="w3-section">
                    <button type="submit" value="Submit">Login</button>
                </div>

            </form>
            <div class="w3-section" style="background-color:#f1f1f1">
                <a href="#">Not registered? Sign Up!</a>
            </div>
        </div>
    </div>

{% endblock %}
