{% extends 'afterAuthenticationBase.html' %}
{% block content %}
    This is the event management page
    <table class="w3-table w3-striped w3-bordered">
    <thead>
    <tr class="w3-theme">
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Description</th>
        <th>Event Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for event in data %}
        <tr>
            <th>{{ event.0 }}</th>
            <th>{{ event.1 }}</th>
            <th>{{ event.2 }}</th>
            <th>{{ event.3 }}</th>
            <th>{{ event.4 }}</th>
            <th>
                <form action="." method="POST">
                    {% csrf_token %}
                    <input class="button w3-red" type="submit" name="action" value="{{ "Delete " }}{{ event.0 }}">
                </form>
            </th>

        </tr>
    {% endfor %}


{% endblock %}
